include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include react_xblock_2 *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
